body {
    margin: 0px;
    font-family: "Ubuntu", sans-serif;
    font-size: 100%;
    background: #f8f8f8;
}

.header {
    width: 100%;
    min-height: 450px;
    margin: 0 auto 30px;
    padding: 10px 0;
    background: url("background.jpg") top center no-repeat fixed;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header h1 {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 2.5em;
    text-align: center;
    color: #fff;
    text-shadow: #000 0px 2px 4px;
}

.header h3 {
    margin-top: 20px;
    margin-bottom: 30px;
    text-shadow: #000 0px 1px 3px;
    text-align: center;
    color: #fff;
}

.example {
    display: flex;
    border-radius: 10px;
}

.code-container {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}

.left {
    flex: 1;
    max-width: 558.98px;
}

.left > .code-header {
    background-color: rgb(32, 35, 42);
    color: #999;
    padding: 15px;
    border-radius: 10px 0px 0px 0px;
}

.left > .code {
    overflow:auto;
    padding: 15px;
    background-color: rgb(40, 44, 52);
    border-radius: 0px 0px 0px 10px;
    color: white;
}

.right {
    flex: 1;
    max-width: 230px;
    display: flex;
    flex-direction: column;
}

.right > .code-header {
    background-color: rgb(236, 236, 236);
    color: rgb(109, 109, 109);
    padding: 15px;
    border-radius: 0px 10px 0px 0px;
}

.right > .code {
    overflow:auto;
    width:auto;
    padding: 15px;
    background-color: white;
    border-radius: 0px 0px 10px 0px;
    display: flex;
    justify-content: center;
    height: 100%;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.btn {
    border: none;
    padding: 0.8em 1.75em 0.7em;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.3) 0px -1px 0px;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1em;
    text-align: center;
    background-color: #3479b4;
    border-radius: 4px;
    z-index: 0;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    background-color: #4f92cc;
}

.main {
    width: 100%;
    max-width: 920px;
    margin-bottom: 40px;
}

.main > h2 {
    margin: 10px;
    margin-top: 40px;
    margin-bottom: 0px;
}

.main pre {
    font-family: "Consolas", "Courier New", "Courier";
    font-weight: 500;
    background: #fff !important;
    padding: 10px 20px !important;
    border: #EEE 1px solid;
    border-radius: 10px;
    margin: 10px;
}

hr {
    margin: 20px 0;
    border: 0;
    border-bottom: #fff 1px solid;
    border-top: #f0f0f0 1px solid;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.main > p {
    margin-left: 10px;
    margin-right: 10px;
}